<a href="https://colab.research.google.com/github/mukulsingh94868/ML-project/blob/supervisedML/Test.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd
import matplotlib.pyplot as plt

In [0]:
# loading data
df=pd.read_csv("http://13.234.66.67/summer19/datasets/test.csv")

In [4]:
# schema 
df.info

<bound method DataFrame.info of      PassengerId  Pclass  ...            Cabin Embarked
0            892       3  ...              NaN        Q
1            893       3  ...              NaN        S
2            894       2  ...              NaN        Q
3            895       3  ...              NaN        S
4            896       3  ...              NaN        S
5            897       3  ...              NaN        S
6            898       3  ...              NaN        Q
7            899       2  ...              NaN        S
8            900       3  ...              NaN        C
9            901       3  ...              NaN        S
10           902       3  ...              NaN        S
11           903       1  ...              NaN        S
12           904       1  ...              B45        S
13           905       2  ...              NaN        S
14           906       1  ...              E31        S
15           907       2  ...              NaN        C
16           908       2  ...              NaN        Q
17           909       3  ...              NaN        C
18           910       3  ...              NaN        S
19           911       3  ...              NaN        C
20           912       1  ...              NaN        C
21           913       3  ...              NaN        S
22           914       1  ...              NaN        S
23           915       1  ...              NaN        C
24           916       1  ...  B57 B59 B63 B66        C
25           917       3  ...              NaN        S
26           918       1  ...              B36        C
27           919       3  ...              NaN        C
28           920       1  ...              A21        S
29           921       3  ...              NaN        C
..           ...     ...  ...              ...      ...
388         1280       3  ...              NaN        Q
389         1281       3  ...              NaN        S
390         1282       1  ...              B24        S
391         1283       1  ...              D28        S
392         1284       3  ...              NaN        S
393         1285       2  ...              NaN        S
394         1286       3  ...              NaN        S
395         1287       1  ...              C31        S
396         1288       3  ...              NaN        Q
397         1289       1  ...              B41        C
398         1290       3  ...              NaN        S
399         1291       3  ...              NaN        Q
400         1292       1  ...               C7        S
401         1293       2  ...              NaN        S
402         1294       1  ...              NaN        C
403         1295       1  ...              NaN        S
404         1296       1  ...              D40        C
405         1297       2  ...              D38        C
406         1298       2  ...              NaN        S
407         1299       1  ...              C80        C
408         1300       3  ...              NaN        Q
409         1301       3  ...              NaN        S
410         1302       3  ...              NaN        Q
411         1303       1  ...              C78        Q
412         1304       3  ...              NaN        S
413         1305       3  ...              NaN        S
414         1306       1  ...             C105        C
415         1307       3  ...              NaN        S
416         1308       3  ...              NaN        S
417         1309       3  ...              NaN        C

[418 rows x 11 columns]>

In [5]:
df

     PassengerId  Pclass  ...            Cabin Embarked
0            892       3  ...              NaN        Q
1            893       3  ...              NaN        S
2            894       2  ...              NaN        Q
3            895       3  ...              NaN        S
4            896       3  ...              NaN        S
5            897       3  ...              NaN        S
6            898       3  ...              NaN        Q
7            899       2  ...              NaN        S
8            900       3  ...              NaN        C
9            901       3  ...              NaN        S
10           902       3  ...              NaN        S
11           903       1  ...              NaN        S
12           904       1  ...              B45        S
13           905       2  ...              NaN        S
14           906       1  ...              E31        S
15           907       2  ...              NaN        C
16           908       2  ...              NaN        Q
17           909       3  ...              NaN        C
18           910       3  ...              NaN        S
19           911       3  ...              NaN        C
20           912       1  ...              NaN        C
21           913       3  ...              NaN        S
22           914       1  ...              NaN        S
23           915       1  ...              NaN        C
24           916       1  ...  B57 B59 B63 B66        C
25           917       3  ...              NaN        S
26           918       1  ...              B36        C
27           919       3  ...              NaN        C
28           920       1  ...              A21        S
29           921       3  ...              NaN        C
..           ...     ...  ...              ...      ...
388         1280       3  ...              NaN        Q
389         1281       3  ...              NaN        S
390         1282       1  ...              B24        S
391         1283       1  ...              D28        S
392         1284       3  ...              NaN        S
393         1285       2  ...              NaN        S
394         1286       3  ...              NaN        S
395         1287       1  ...              C31        S
396         1288       3  ...              NaN        Q
397         1289       1  ...              B41        C
398         1290       3  ...              NaN        S
399         1291       3  ...              NaN        Q
400         1292       1  ...               C7        S
401         1293       2  ...              NaN        S
402         1294       1  ...              NaN        C
403         1295       1  ...              NaN        S
404         1296       1  ...              D40        C
405         1297       2  ...              D38        C
406         1298       2  ...              NaN        S
407         1299       1  ...              C80        C
408         1300       3  ...              NaN        Q
409         1301       3  ...              NaN        S
410         1302       3  ...              NaN        Q
411         1303       1  ...              C78        Q
412         1304       3  ...              NaN        S
413         1305       3  ...              NaN        S
414         1306       1  ...             C105        C
415         1307       3  ...              NaN        S
416         1308       3  ...              NaN        S
417         1309       3  ...              NaN        C

[418 rows x 11 columns]

In [6]:
# schema 
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 11 columns):
PassengerId    418 non-null int64
Pclass         418 non-null int64
Name           418 non-null object
Sex            418 non-null object
Age            332 non-null float64
SibSp          418 non-null int64
Parch          418 non-null int64
Ticket         418 non-null object
Fare           417 non-null float64
Cabin          91 non-null object
Embarked       418 non-null object
dtypes: float64(2), int64(4), object(5)
memory usage: 36.0+ KB

In [7]:
# top 5 rows
df.head()

   PassengerId  Pclass  ... Cabin Embarked
0          892       3  ...   NaN        Q
1          893       3  ...   NaN        S
2          894       2  ...   NaN        Q
3          895       3  ...   NaN        S
4          896       3  ...   NaN        S

[5 rows x 11 columns]

In [0]:
# removing user id
filterdata=df.iloc[1:,2:].values

In [0]:
# now we apply training testing test
features=filterdata[0:,0:2]

In [10]:
features

array([['Wilkes, Mrs. James (Ellen Needs)', 'female'],
       ['Myles, Mr. Thomas Francis', 'male'],
       ['Wirz, Mr. Albert', 'male'],
       ['Hirvonen, Mrs. Alexander (Helga E Lindqvist)', 'female'],
       ['Svensson, Mr. Johan Cervin', 'male'],
       ['Connolly, Miss. Kate', 'female'],
       ['Caldwell, Mr. Albert Francis', 'male'],
       ['Abrahim, Mrs. Joseph (Sophie Halaut Easu)', 'female'],
       ['Davies, Mr. John Samuel', 'male'],
       ['Ilieff, Mr. Ylio', 'male'],
       ['Jones, Mr. Charles Cresson', 'male'],
       ['Snyder, Mrs. John Pillsbury (Nelle Stevenson)', 'female'],
       ['Howard, Mr. Benjamin', 'male'],
       ['Chaffee, Mrs. Herbert Fuller (Carrie Constance Toogood)',
        'female'],
       ['del Carlo, Mrs. Sebastiano (Argenia Genovesi)', 'female'],
       ['Keane, Mr. Daniel', 'male'],
       ['Assaf, Mr. Gerios', 'male'],
       ['Ilmakangas, Miss. Ida Livija', 'female'],
       ['Assaf Khalil, Mrs. Mariana (Miriam")"', 'female'],
       ['Rothschild, Mr. Martin', 'male'],
       ['Olsen, Master. Artur Karl', 'male'],
       ['Flegenheim, Mrs. Alfred (Antoinette)', 'female'],
       ['Williams, Mr. Richard Norris II', 'male'],
       ['Ryerson, Mrs. Arthur Larned (Emily Maria Borie)', 'female'],
       ['Robins, Mr. Alexander A', 'male'],
       ['Ostby, Miss. Helene Ragnhild', 'female'],
       ['Daher, Mr. Shedid', 'male'],
       ['Brady, Mr. John Bertram', 'male'],
       ['Samaan, Mr. Elias', 'male'],
       ['Louch, Mr. Charles Alexander', 'male'],
       ['Jefferys, Mr. Clifford Thomas', 'male'],
       ['Dean, Mrs. Bertram (Eva Georgetta Light)', 'female'],
       ['Johnston, Mrs. Andrew G (Elizabeth Lily" Watson)"', 'female'],
       ['Mock, Mr. Philipp Edmund', 'male'],
       ['Katavelas, Mr. Vassilios (Catavelas Vassilios")"', 'male'],
       ['Roth, Miss. Sarah A', 'female'],
       ['Cacic, Miss. Manda', 'female'],
       ['Sap, Mr. Julius', 'male'],
       ['Hee, Mr. Ling', 'male'],
       ['Karun, Mr. Franz', 'male'],
       ['Franklin, Mr. Thomas Parham', 'male'],
       ['Goldsmith, Mr. Nathan', 'male'],
       ['Corbett, Mrs. Walter H (Irene Colvin)', 'female'],
       ['Kimball, Mrs. Edwin Nelson Jr (Gertrude Parsons)', 'female'],
       ['Peltomaki, Mr. Nikolai Johannes', 'male'],
       ['Chevre, Mr. Paul Romaine', 'male'],
       ['Shaughnessy, Mr. Patrick', 'male'],
       ['Bucknell, Mrs. William Robert (Emma Eliza Ward)', 'female'],
       ['Coutts, Mrs. William (Winnie Minnie" Treanor)"', 'female'],
       ['Smith, Mr. Lucien Philip', 'male'],
       ['Pulbaum, Mr. Franz', 'male'],
       ['Hocking, Miss. Ellen Nellie""', 'female'],
       ['Fortune, Miss. Ethel Flora', 'female'],
       ['Mangiavacchi, Mr. Serafino Emilio', 'male'],
       ['Rice, Master. Albert', 'male'],
       ['Cor, Mr. Bartol', 'male'],
       ['Abelseth, Mr. Olaus Jorgensen', 'male'],
       ['Davison, Mr. Thomas Henry', 'male'],
       ['Chaudanson, Miss. Victorine', 'female'],
       ['Dika, Mr. Mirko', 'male'],
       ['McCrae, Mr. Arthur Gordon', 'male'],
       ['Bjorklund, Mr. Ernst Herbert', 'male'],
       ['Bradley, Miss. Bridget Delia', 'female'],
       ['Ryerson, Master. John Borie', 'male'],
       ['Corey, Mrs. Percy C (Mary Phyllis Elizabeth Miller)', 'female'],
       ['Burns, Miss. Mary Delia', 'female'],
       ['Moore, Mr. Clarence Bloomfield', 'male'],
       ['Tucker, Mr. Gilbert Milligan Jr', 'male'],
       ['Fortune, Mrs. Mark (Mary McDougald)', 'female'],
       ['Mulvihill, Miss. Bertha E', 'female'],
       ['Minkoff, Mr. Lazar', 'male'],
       ['Nieminen, Miss. Manta Josefina', 'female'],
       ['Ovies y Rodriguez, Mr. Servando', 'male'],
       ['Geiger, Miss. Amalie', 'female'],
       ['Keeping, Mr. Edwin', 'male'],
       ['Miles, Mr. Frank', 'male'],
       ['Cornell, Mrs. Robert Clifford (Malvina Helen Lamson)', 'female'],
       ['Aldworth, Mr. Charles Augustus', 'male'],
       ['Doyle, Miss. Elizabeth', 'female'],
       ['Boulos, Master. Akar', 'male'],
       ['Straus, Mr. Isidor', 'male'],
       ['Case, Mr. Howard Brown', 'male'],
       ['Demetri, Mr. Marinko', 'male'],
       ['Lamb, Mr. John Joseph', 'male'],
       ['Khalil, Mr. Betros', 'male'],
       ['Barry, Miss. Julia', 'female'],
       ['Badman, Miss. Emily Louisa', 'female'],
       ["O'Donoghue, Ms. Bridget", 'female'],
       ['Wells, Master. Ralph Lester', 'male'],
       ['Dyker, Mrs. Adolf Fredrik (Anna Elisabeth Judith Andersson)',
        'female'],
       ['Pedersen, Mr. Olaf', 'male'],
       ['Davidson, Mrs. Thornton (Orian Hays)', 'female'],
       ['Guest, Mr. Robert', 'male'],
       ['Birnbaum, Mr. Jakob', 'male'],
       ['Tenglin, Mr. Gunnar Isidor', 'male'],
       ['Cavendish, Mrs. Tyrell William (Julia Florence Siegel)',
        'female'],
       ['Makinen, Mr. Kalle Edvard', 'male'],
       ['Braf, Miss. Elin Ester Maria', 'female'],
       ['Nancarrow, Mr. William Henry', 'male'],
       ['Stengel, Mrs. Charles Emil Henry (Annie May Morris)', 'female'],
       ['Weisz, Mr. Leopold', 'male'],
       ['Foley, Mr. William', 'male'],
       ['Johansson Palmquist, Mr. Oskar Leander', 'male'],
       ['Thomas, Mrs. Alexander (Thamine Thelma")"', 'female'],
       ['Holthen, Mr. Johan Martin', 'male'],
       ['Buckley, Mr. Daniel', 'male'],
       ['Ryan, Mr. Edward', 'male'],
       ['Willer, Mr. Aaron (Abi Weller")"', 'male'],
       ['Swane, Mr. George', 'male'],
       ['Stanton, Mr. Samuel Ward', 'male'],
       ['Shine, Miss. Ellen Natalia', 'female'],
       ['Evans, Miss. Edith Corse', 'female'],
       ['Buckley, Miss. Katherine', 'female'],
       ['Straus, Mrs. Isidor (Rosalie Ida Blun)', 'female'],
       ['Chronopoulos, Mr. Demetrios', 'male'],
       ['Thomas, Mr. John', 'male'],
       ['Sandstrom, Miss. Beatrice Irene', 'female'],
       ['Beattie, Mr. Thomson', 'male'],
       ['Chapman, Mrs. John Henry (Sara Elizabeth Lawry)', 'female'],
       ['Watt, Miss. Bertha J', 'female'],
       ['Kiernan, Mr. John', 'male'],
       ['Schabert, Mrs. Paul (Emma Mock)', 'female'],
       ['Carver, Mr. Alfred John', 'male'],
       ['Kennedy, Mr. John', 'male'],
       ['Cribb, Miss. Laura Alice', 'female'],
       ['Brobeck, Mr. Karl Rudolf', 'male'],
       ['McCoy, Miss. Alicia', 'female'],
       ['Bowenur, Mr. Solomon', 'male'],
       ['Petersen, Mr. Marius', 'male'],
       ['Spinner, Mr. Henry John', 'male'],
       ['Gracie, Col. Archibald IV', 'male'],
       ['Lefebre, Mrs. Frank (Frances)', 'female'],
       ['Thomas, Mr. Charles P', 'male'],
       ['Dintcheff, Mr. Valtcho', 'male'],
       ['Carlsson, Mr. Carl Robert', 'male'],
       ['Zakarian, Mr. Mapriededer', 'male'],
       ['Schmidt, Mr. August', 'male'],
       ['Drapkin, Miss. Jennie', 'female'],
       ['Goodwin, Mr. Charles Frederick', 'male'],
       ['Goodwin, Miss. Jessie Allis', 'female'],
       ['Daniels, Miss. Sarah', 'female'],
       ['Ryerson, Mr. Arthur Larned', 'male'],
       ['Beauchamp, Mr. Henry James', 'male'],
       ['Lindeberg-Lind, Mr. Erik Gustaf (Mr Edward Lingrey")"', 'male'],
       ['Vander Planke, Mr. Julius', 'male'],
       ['Hilliard, Mr. Herbert Henry', 'male'],
       ['Davies, Mr. Evan', 'male'],
       ['Crafton, Mr. John Bertram', 'male'],
       ['Lahtinen, Rev. William', 'male'],
       ['Earnshaw, Mrs. Boulton (Olive Potter)', 'female'],
       ['Matinoff, Mr. Nicola', 'male'],
       ['Storey, Mr. Thomas', 'male'],
       ['Klasen, Mrs. (Hulda Kristina Eugenia Lofqvist)', 'female'],
       ['Asplund, Master. Filip Oscar', 'male'],
       ['Duquemin, Mr. Joseph', 'male'],
       ['Bird, Miss. Ellen', 'female'],
       ['Lundin, Miss. Olga Elida', 'female'],
       ['Borebank, Mr. John James', 'male'],
       ['Peacock, Mrs. Benjamin (Edith Nile)', 'female'],
       ['Smyth, Miss. Julia', 'female'],
       ['Touma, Master. Georges Youssef', 'male'],
       ['Wright, Miss. Marion', 'female'],
       ['Pearce, Mr. Ernest', 'male'],
       ['Peruschitz, Rev. Joseph Maria', 'male'],
       ['Kink-Heilmann, Mrs. Anton (Luise Heilmann)', 'female'],
       ['Brandeis, Mr. Emil', 'male'],
       ['Ford, Mr. Edward Watson', 'male'],
       ['Cassebeer, Mrs. Henry Arthur Jr (Eleanor Genevieve Fosdick)',
        'female'],
       ['Hellstrom, Miss. Hilda Maria', 'female'],
       ['Lithman, Mr. Simon', 'male'],
       ['Zakarian, Mr. Ortin', 'male'],
       ['Dyker, Mr. Adolf Fredrik', 'male'],
       ['Torfa, Mr. Assad', 'male'],
       ['Asplund, Mr. Carl Oscar Vilhelm Gustafsson', 'male'],
       ['Brown, Miss. Edith Eileen', 'female'],
       ['Sincock, Miss. Maude', 'female'],
       ['Stengel, Mr. Charles Emil Henry', 'male'],
       ['Becker, Mrs. Allen Oliver (Nellie E Baumgardner)', 'female'],
       ['Compton, Mrs. Alexander Taylor (Mary Eliza Ingersoll)',
        'female'],
       ['McCrie, Mr. James Matthew', 'male'],
       ['Compton, Mr. Alexander Taylor Jr', 'male'],
       ['Marvin, Mrs. Daniel Warner (Mary Graham Carmichael Farquarson)',
        'female'],
       ['Lane, Mr. Patrick', 'male'],
       ['Douglas, Mrs. Frederick Charles (Mary Helene Baxter)', 'female'],
       ['Maybery, Mr. Frank Hubert', 'male'],
       ['Phillips, Miss. Alice Frances Louisa', 'female'],
       ['Davies, Mr. Joseph', 'male'],
       ['Sage, Miss. Ada', 'female'],
       ['Veal, Mr. James', 'male'],
       ['Angle, Mr. William A', 'male'],
       ['Salomon, Mr. Abraham L', 'male'],
       ['van Billiard, Master. Walter John', 'male'],
       ['Lingane, Mr. John', 'male'],
       ['Drew, Master. Marshall Brines', 'male'],
       ['Karlsson, Mr. Julius Konrad Eugen', 'male'],
       ['Spedden, Master. Robert Douglas', 'male'],
       ['Nilsson, Miss. Berta Olivia', 'female'],
       ['Baimbrigge, Mr. Charles Robert', 'male'],
       ['Rasmussen, Mrs. (Lena Jacobsen Solvang)', 'female'],
       ['Murphy, Miss. Nora', 'female'],
       ['Danbom, Master. Gilbert Sigvard Emanuel', 'male'],
       ['Astor, Col. John Jacob', 'male'],
       ['Quick, Miss. Winifred Vera', 'female'],
       ['Andrew, Mr. Frank Thomas', 'male'],
       ['Omont, Mr. Alfred Fernand', 'male'],
       ['McGowan, Miss. Katherine', 'female'],
       ['Collett, Mr. Sidney C Stuart', 'male'],
       ['Rosenbaum, Miss. Edith Louise', 'female'],
       ['Delalic, Mr. Redjo', 'male'],
       ['Andersen, Mr. Albert Karvin', 'male'],
       ['Finoli, Mr. Luigi', 'male'],
       ['Deacon, Mr. Percy William', 'male'],
       ['Howard, Mrs. Benjamin (Ellen Truelove Arman)', 'female'],
       ['Andersson, Miss. Ida Augusta Margareta', 'female'],
       ['Head, Mr. Christopher', 'male'],
       ['Mahon, Miss. Bridget Delia', 'female'],
       ['Wick, Mr. George Dennick', 'male'],
       ['Widener, Mrs. George Dunton (Eleanor Elkins)', 'female'],
       ['Thomson, Mr. Alexander Morrison', 'male'],
       ['Duran y More, Miss. Florentina', 'female'],
       ['Reynolds, Mr. Harold J', 'male'],
       ['Cook, Mrs. (Selena Rogers)', 'female'],
       ['Karlsson, Mr. Einar Gervasius', 'male'],
       ['Candee, Mrs. Edward (Helen Churchill Hungerford)', 'female'],
       ['Moubarek, Mrs. George (Omine Amenia" Alexander)"', 'female'],
       ['Asplund, Mr. Johan Charles', 'male'],
       ['McNeill, Miss. Bridget', 'female'],
       ['Everett, Mr. Thomas James', 'male'],
       ['Hocking, Mr. Samuel James Metcalfe', 'male'],
       ['Sweet, Mr. George Frederick', 'male'],
       ['Willard, Miss. Constance', 'female'],
       ['Wiklund, Mr. Karl Johan', 'male'],
       ['Linehan, Mr. Michael', 'male'],
       ['Cumings, Mr. John Bradley', 'male'],
       ['Vendel, Mr. Olof Edvin', 'male'],
       ['Warren, Mr. Frank Manley', 'male'],
       ['Baccos, Mr. Raffull', 'male'],
       ['Hiltunen, Miss. Marta', 'female'],
       ['Douglas, Mrs. Walter Donald (Mahala Dutton)', 'female'],
       ['Lindstrom, Mrs. Carl Johan (Sigrid Posse)', 'female'],
       ['Christy, Mrs. (Alice Frances)', 'female'],
       ['Spedden, Mr. Frederic Oakley', 'male'],
       ['Hyman, Mr. Abraham', 'male'],
       ['Johnston, Master. William Arthur Willie""', 'male'],
       ['Kenyon, Mr. Frederick R', 'male'],
       ['Karnes, Mrs. J Frank (Claire Bennett)', 'female'],
       ['Drew, Mr. James Vivian', 'male'],
       ['Hold, Mrs. Stephen (Annie Margaret Hill)', 'female'],
       ['Khalil, Mrs. Betros (Zahie Maria" Elias)"', 'female'],
       ['West, Miss. Barbara J', 'female'],
       ['Abrahamsson, Mr. Abraham August Johannes', 'male'],
       ['Clark, Mr. Walter Miller', 'male'],
       ['Salander, Mr. Karl Johan', 'male'],
       ['Wenzel, Mr. Linhart', 'male'],
       ['MacKay, Mr. George William', 'male'],
       ['Mahon, Mr. John', 'male'],
       ['Niklasson, Mr. Samuel', 'male'],
       ['Bentham, Miss. Lilian W', 'female'],
       ['Midtsjo, Mr. Karl Albert', 'male'],
       ['de Messemaeker, Mr. Guillaume Joseph', 'male'],
       ['Nilsson, Mr. August Ferdinand', 'male'],
       ['Wells, Mrs. Arthur Henry (Addie" Dart Trevaskis)"', 'female'],
       ['Klasen, Miss. Gertrud Emilia', 'female'],
       ['Portaluppi, Mr. Emilio Ilario Giuseppe', 'male'],
       ['Lyntakoff, Mr. Stanko', 'male'],
       ['Chisholm, Mr. Roderick Robert Crispin', 'male'],
       ['Warren, Mr. Charles William', 'male'],
       ['Howard, Miss. May Elizabeth', 'female'],
       ['Pokrnic, Mr. Mate', 'male'],
       ['McCaffry, Mr. Thomas Francis', 'male'],
       ['Fox, Mr. Patrick', 'male'],
       ['Clark, Mrs. Walter Miller (Virginia McDowell)', 'female'],
       ['Lennon, Miss. Mary', 'female'],
       ['Saade, Mr. Jean Nassr', 'male'],
       ['Bryhl, Miss. Dagmar Jenny Ingeborg ', 'female'],
       ['Parker, Mr. Clifford Richard', 'male'],
       ['Faunthorpe, Mr. Harry', 'male'],
       ['Ware, Mr. John James', 'male'],
       ['Oxenham, Mr. Percy Thomas', 'male'],
       ['Oreskovic, Miss. Jelka', 'female'],
       ['Peacock, Master. Alfred Edward', 'male'],
       ['Fleming, Miss. Honora', 'female'],
       ['Touma, Miss. Maria Youssef', 'female'],
       ['Rosblom, Miss. Salli Helena', 'female'],
       ['Dennis, Mr. William', 'male'],
       ['Franklin, Mr. Charles (Charles Fardon)', 'male'],
       ['Snyder, Mr. John Pillsbury', 'male'],
       ['Mardirosian, Mr. Sarkis', 'male'],
       ['Ford, Mr. Arthur', 'male'],
       ['Rheims, Mr. George Alexander Lucien', 'male'],
       ['Daly, Miss. Margaret Marcella Maggie""', 'female'],
       ['Nasr, Mr. Mustafa', 'male'],
       ['Dodge, Dr. Washington', 'male'],
       ['Wittevrongel, Mr. Camille', 'male'],
       ['Angheloff, Mr. Minko', 'male'],
       ['Laroche, Miss. Louise', 'female'],
       ['Samaan, Mr. Hanna', 'male'],
       ['Loring, Mr. Joseph Holland', 'male'],
       ['Johansson, Mr. Nils', 'male'],
       ['Olsson, Mr. Oscar Wilhelm', 'male'],
       ['Malachard, Mr. Noel', 'male'],
       ['Phillips, Mr. Escott Robert', 'male'],
       ['Pokrnic, Mr. Tome', 'male'],
       ['McCarthy, Miss. Catherine Katie""', 'female'],
       ['Crosby, Mrs. Edward Gifford (Catherine Elizabeth Halstead)',
        'female'],
       ['Allison, Mr. Hudson Joshua Creighton', 'male'],
       ['Aks, Master. Philip Frank', 'male'],
       ['Hays, Mr. Charles Melville', 'male'],
       ['Hansen, Mrs. Claus Peter (Jennie L Howard)', 'female'],
       ['Cacic, Mr. Jego Grga', 'male'],
       ['Vartanian, Mr. David', 'male'],
       ['Sadowitz, Mr. Harry', 'male'],
       ['Carr, Miss. Jeannie', 'female'],
       ['White, Mrs. John Stuart (Ella Holmes)', 'female'],
       ['Hagardon, Miss. Kate', 'female'],
       ['Spencer, Mr. William Augustus', 'male'],
       ['Rogers, Mr. Reginald Harry', 'male'],
       ['Jonsson, Mr. Nils Hilding', 'male'],
       ['Jefferys, Mr. Ernest Wilfred', 'male'],
       ['Andersson, Mr. Johan Samuel', 'male'],
       ['Krekorian, Mr. Neshan', 'male'],
       ['Nesson, Mr. Israel', 'male'],
       ['Rowe, Mr. Alfred G', 'male'],
       ['Kreuchen, Miss. Emilie', 'female'],
       ['Assam, Mr. Ali', 'male'],
       ['Becker, Miss. Ruth Elizabeth', 'female'],
       ['Rosenshine, Mr. George (Mr George Thorne")"', 'male'],
       ['Clarke, Mr. Charles Valentine', 'male'],
       ['Enander, Mr. Ingvar', 'male'],
       ['Davies, Mrs. John Morgan (Elizabeth Agnes Mary White) ',
        'female'],
       ['Dulles, Mr. William Crothers', 'male'],
       ['Thomas, Mr. Tannous', 'male'],
       ['Nakid, Mrs. Said (Waika Mary" Mowad)"', 'female'],
       ['Cor, Mr. Ivan', 'male'],
       ['Maguire, Mr. John Edward', 'male'],
       ['de Brito, Mr. Jose Joaquim', 'male'],
       ['Elias, Mr. Joseph', 'male'],
       ['Denbury, Mr. Herbert', 'male'],
       ['Betros, Master. Seman', 'male'],
       ['Fillbrook, Mr. Joseph Charles', 'male'],
       ['Lundstrom, Mr. Thure Edvin', 'male'],
       ['Sage, Mr. John George', 'male'],
       ['Cardeza, Mrs. James Warburton Martinez (Charlotte Wardle Drake)',
        'female'],
       ['van Billiard, Master. James William', 'male'],
       ['Abelseth, Miss. Karen Marie', 'female'],
       ['Botsford, Mr. William Hull', 'male'],
       ['Whabee, Mrs. George Joseph (Shawneene Abi-Saab)', 'female'],
       ['Giles, Mr. Ralph', 'male'],
       ['Walcroft, Miss. Nellie', 'female'],
       ['Greenfield, Mrs. Leo David (Blanche Strouse)', 'female'],
       ['Stokes, Mr. Philip Joseph', 'male'],
       ['Dibden, Mr. William', 'male'],
       ['Herman, Mr. Samuel', 'male'],
       ['Dean, Miss. Elizabeth Gladys Millvina""', 'female'],
       ['Julian, Mr. Henry Forbes', 'male'],
       ['Brown, Mrs. John Murray (Caroline Lane Lamson)', 'female'],
       ['Lockyer, Mr. Edward', 'male'],
       ["O'Keefe, Mr. Patrick", 'male'],
       ['Lindell, Mrs. Edvard Bengtsson (Elin Gerda Persson)', 'female'],
       ['Sage, Master. William Henry', 'male'],
       ['Mallet, Mrs. Albert (Antoinette Magnin)', 'female'],
       ['Ware, Mrs. John James (Florence Louise Long)', 'female'],
       ['Strilic, Mr. Ivan', 'male'],
       ['Harder, Mrs. George Achilles (Dorothy Annan)', 'female'],
       ['Sage, Mrs. John (Annie Bullen)', 'female'],
       ['Caram, Mr. Joseph', 'male'],
       ['Riihivouri, Miss. Susanna Juhantytar Sanni""', 'female'],
       ['Gibson, Mrs. Leonard (Pauline C Boeson)', 'female'],
       ['Pallas y Castello, Mr. Emilio', 'male'],
       ['Giles, Mr. Edgar', 'male'],
       ['Wilson, Miss. Helen Alice', 'female'],
       ['Ismay, Mr. Joseph Bruce', 'male'],
       ['Harbeck, Mr. William H', 'male'],
       ['Dodge, Mrs. Washington (Ruth Vidaver)', 'female'],
       ['Bowen, Miss. Grace Scott', 'female'],
       ['Kink, Miss. Maria', 'female'],
       ['Cotterill, Mr. Henry Harry""', 'male'],
       ['Hipkins, Mr. William Edward', 'male'],
       ['Asplund, Master. Carl Edgar', 'male'],
       ["O'Connor, Mr. Patrick", 'male'],
       ['Foley, Mr. Joseph', 'male'],
       ['Risien, Mrs. Samuel (Emma)', 'female'],
       ["McNamee, Mrs. Neal (Eileen O'Leary)", 'female'],
       ['Wheeler, Mr. Edwin Frederick""', 'male'],
       ['Herman, Miss. Kate', 'female'],
       ['Aronsson, Mr. Ernst Axel Algot', 'male'],
       ['Ashby, Mr. John', 'male'],
       ['Canavan, Mr. Patrick', 'male'],
       ['Palsson, Master. Paul Folke', 'male'],
       ['Payne, Mr. Vivian Ponsonby', 'male'],
       ['Lines, Mrs. Ernest H (Elizabeth Lindsey James)', 'female'],
       ['Abbott, Master. Eugene Joseph', 'male'],
       ['Gilbert, Mr. William', 'male'],
       ['Kink-Heilmann, Mr. Anton', 'male'],
       ['Smith, Mrs. Lucien Philip (Mary Eloise Hughes)', 'female'],
       ['Colbert, Mr. Patrick', 'male'],
       ['Frolicher-Stehli, Mrs. Maxmillian (Margaretha Emerentia Stehli)',
        'female'],
       ['Larsson-Rondberg, Mr. Edvard A', 'male'],
       ['Conlon, Mr. Thomas Henry', 'male'],
       ['Bonnell, Miss. Caroline', 'female'],
       ['Gale, Mr. Harry', 'male'],
       ['Gibson, Miss. Dorothy Winifred', 'female'],
       ['Carrau, Mr. Jose Pedro', 'male'],
       ['Frauenthal, Mr. Isaac Gerald', 'male'],

In [0]:
# label finding
label=filterdata[0:,2]

In [12]:
label

array([47.0, 62.0, 27.0, 22.0, 14.0, 30.0, 26.0, 18.0, 21.0, nan, 46.0,
       23.0, 63.0, 47.0, 24.0, 35.0, 21.0, 27.0, 45.0, 55.0, 9.0, nan,
       21.0, 48.0, 50.0, 22.0, 22.5, 41.0, nan, 50.0, 24.0, 33.0, nan,
       30.0, 18.5, nan, 21.0, 25.0, nan, 39.0, nan, 41.0, 30.0, 45.0,
       25.0, 45.0, nan, 60.0, 36.0, 24.0, 27.0, 20.0, 28.0, nan, 10.0,
       35.0, 25.0, nan, 36.0, 17.0, 32.0, 18.0, 22.0, 13.0, nan, 18.0,
       47.0, 31.0, 60.0, 24.0, 21.0, 29.0, 28.5, 35.0, 32.5, nan, 55.0,
       30.0, 24.0, 6.0, 67.0, 49.0, nan, nan, nan, 27.0, 18.0, nan, 2.0,
       22.0, nan, 27.0, nan, 25.0, 25.0, 76.0, 29.0, 20.0, 33.0, 43.0,
       27.0, nan, 26.0, 16.0, 28.0, 21.0, nan, nan, 18.5, 41.0, nan, 36.0,
       18.5, 63.0, 18.0, nan, 1.0, 36.0, 29.0, 12.0, nan, 35.0, 28.0, nan,
       17.0, 22.0, nan, 42.0, 24.0, 32.0, 53.0, nan, nan, 43.0, 24.0,
       26.5, 26.0, 23.0, 40.0, 10.0, 33.0, 61.0, 28.0, 42.0, 31.0, nan,
       22.0, nan, 30.0, 23.0, nan, 60.5, 36.0, 13.0, 24.0, 29.0, 23.0,
       42.0, 26.0, nan, 7.0, 26.0, nan, 41.0, 26.0, 48.0, 18.0, nan, 22.0,
       nan, 27.0, 23.0, nan, 40.0, 15.0, 20.0, 54.0, 36.0, 64.0, 30.0,
       37.0, 18.0, nan, 27.0, 40.0, 21.0, 17.0, nan, 40.0, 34.0, nan,
       11.5, 61.0, 8.0, 33.0, 6.0, 18.0, 23.0, nan, nan, 0.33, 47.0, 8.0,
       25.0, nan, 35.0, 24.0, 33.0, 25.0, 32.0, nan, 17.0, 60.0, 38.0,
       42.0, nan, 57.0, 50.0, nan, 30.0, 21.0, 22.0, 21.0, 53.0, nan,
       23.0, nan, 40.5, 36.0, 14.0, 21.0, 21.0, nan, 39.0, 20.0, 64.0,
       20.0, 18.0, 48.0, 55.0, 45.0, 45.0, nan, nan, 41.0, 22.0, 42.0,
       29.0, nan, 0.92, 20.0, 27.0, 24.0, 32.5, nan, nan, 28.0, 19.0,
       21.0, 36.5, 21.0, 29.0, 1.0, 30.0, nan, nan, nan, nan, 17.0, 46.0,
       nan, 26.0, nan, nan, 20.0, 28.0, 40.0, 30.0, 22.0, 23.0, 0.75, nan,
       9.0, 2.0, 36.0, nan, 24.0, nan, nan, nan, 30.0, nan, 53.0, 36.0,
       26.0, 1.0, nan, 30.0, 29.0, 32.0, nan, 43.0, 24.0, nan, 64.0, 30.0,
       0.83, 55.0, 45.0, 18.0, 22.0, nan, 37.0, 55.0, 17.0, 57.0, 19.0,
       27.0, 22.0, 26.0, 25.0, 26.0, 33.0, 39.0, 23.0, 12.0, 46.0, 29.0,
       21.0, 48.0, 39.0, nan, 19.0, 27.0, 30.0, 32.0, 39.0, 25.0, nan,
       18.0, 32.0, nan, 58.0, nan, 16.0, 26.0, 38.0, 24.0, 31.0, 45.0,
       25.0, 18.0, 49.0, 0.17, 50.0, 59.0, nan, nan, 30.0, 14.5, 24.0,
       31.0, 27.0, 25.0, nan, nan, 22.0, 45.0, 29.0, 21.0, 31.0, 49.0,
       44.0, 54.0, 45.0, 22.0, 21.0, 55.0, 5.0, nan, 26.0, nan, 19.0, nan,
       24.0, 24.0, 57.0, 21.0, 6.0, 23.0, 51.0, 13.0, 47.0, 29.0, 18.0,
       24.0, 48.0, 22.0, 31.0, 30.0, 38.0, 22.0, 17.0, 43.0, 20.0, 23.0,
       50.0, nan, 3.0, nan, 37.0, 28.0, nan, 39.0, 38.5, nan, nan],
      dtype=object)

In [0]:
# training and testing
from sklearn.model_selection   import train_test_split

In [0]:
X,x,Y,y=train_test_split(features,label,test_size=0.2)

In [0]:
# now apply feature scaling
from sklearn.preprocessing   import StandardScaler

In [0]:
sc=StandardScaler()

In [19]:
# apply scaling in training data only
X=sc.fit_transform(X)

ValueError: ignored

In [0]:
X